services:
  xavbot-pi:
    build:
      context: ~/xavbot_ws
      dockerfile: src/xavbot/xavbot_dockerfiles/pi_humble/Dockerfile
    cap_add:
      - SYS_NICE
      - IPC_LOCK
      - SYS_RESOURCE  
    volumes:
      - ~/xavbot_ws:/xavbot_ws
    devices:
#      - "/dev/ttyUSB0:/dev/ttyUSB0"
      - "/dev/ttyACM0:/dev/ttyACM0"
    network_mode: host
    working_dir: /xavbot_ws
    environment:
      - DISPLAY=$DISPLAY
      - REBUILD=true
    entrypoint: src/xavbot/xavbot_dockerfiles/pi_humble/pi_entrypoint.sh
    command: ros2 launch xavbot_bringup pi.launch.py
    restart: unless-stopped
    stdin_open: true
    tty: true
