services:
  jetson:
    build:
      context: ~/workspaces/xavbot_ws
      dockerfile: src/xavbot/xavbot_dockerfiles/jetson_humble/Dockerfile
    env_file: .env
    volumes:
      - ~/workspaces/xavbot_ws:/xavbot_ws
      - /dev:/dev
    network_mode: host
    shm_size: 512mb
    working_dir: /xavbot_ws
    environment:
      - ROS_WORKSPACE=/xavbot_ws
      - REBUILD=true
    command: ros2 launch xavbot_bringup xavbot.launch.py
    restart: unless-stopped
    stdin_open: true
    tty: true

  nav2:
    image: ros:humble-navigation
    env_file: .env
    volumes:
      - ~/workspaces/xavbot_ws/src/xavbot/xavbot_bringup/config/nav2_params.yaml:/nav2_params.yaml:ro
    network_mode: host
    shm_size: 512mb
    command: >
      bash -c "source /opt/ros/humble/setup.bash &&
               ros2 launch nav2_bringup navigation_launch.py
               params_file:=/nav2_params.yaml"
    restart: unless-stopped
    stdin_open: true
    tty: true
    depends_on:
      - jetson

  pi:
    build:
      context: ~/xavbot_ws
      dockerfile: src/xavbot/xavbot_dockerfiles/pi_humble/Dockerfile
    env_file: .env
    cap_add:
      - SYS_NICE
      - IPC_LOCK
      - SYS_RESOURCE
    volumes:
      - ~/xavbot_ws:/xavbot_ws
    devices:
      - "/dev/ttyUSB0:/dev/ttyUSB0"
      - "/dev/ttyACM0:/dev/ttyACM0"
    network_mode: host
    working_dir: /xavbot_ws
    environment:
      - REBUILD=true
    entrypoint: src/xavbot/xavbot_dockerfiles/pi_humble/pi_entrypoint.sh
    command: ros2 launch xavbot_bringup pi.launch.py
    restart: unless-stopped
    stdin_open: true
    tty: true
