services:
  jetson:
    build:
      context: ~/workspaces/kiwi_ws
      dockerfile: src/kiwi/kiwi_dockerfiles/jetson_humble/Dockerfile
    env_file: .env
    volumes:
      - ~/workspaces/kiwi_ws:/kiwi_ws
      - /dev:/dev
    devices:
      - /dev/bus/usb:/dev/bus/usb
    shm_size: 512mb
    working_dir: /kiwi_ws
    environment:
      - ROS_WORKSPACE=/kiwi_ws
      - REBUILD=true
    cap_add:
      - SYS_ADMIN
    command: ros2 launch kiwi_bringup kiwi.launch.py
    restart: unless-stopped
    stdin_open: true
    tty: true

  pi:
    build:
      context: ~/kiwi_ws
      dockerfile: src/kiwi/kiwi_dockerfiles/pi_humble/Dockerfile
    env_file: .env
    cap_add:
      - SYS_NICE
      - IPC_LOCK
      - SYS_RESOURCE
    volumes:
      - ~/kiwi_ws:/kiwi_ws
    devices:
      - "/dev/ttyUSB0:/dev/ttyUSB0"
      - "/dev/ttyACM0:/dev/ttyACM0"
    network_mode: host
    working_dir: /kiwi_ws
    environment:
      - REBUILD=true
    entrypoint: src/kiwi/kiwi_dockerfiles/pi_humble/pi_entrypoint.sh
    command: ros2 launch kiwi_bringup pi.launch.py
    restart: unless-stopped
    stdin_open: true
    tty: true
